@model EquiMarket.Models.HorseModel

@{
    ViewData["Title"] = "Ta bort annons";
    var horseAge = DateTime.Now.Year - Model.BirthDate.Year;
}

<h1>@ViewData["Title"]</h1>

<h2>Är du säker på att du vill radera denna annons?</h2>
<div class="horse-detail">
    <h2>@Model.Title</h2>
    @if (Model.ImagePath != null)
    {
        <img src="@Model.ImagePath" alt="@Model.Name" />
    }
    else
    {
        <img src="/images/horses/website-images/outline.svg" alt="Defaulbild" style="width: 100px">
    }
    <p><span>@Html.DisplayNameFor(model => model.Name): </span>@Model.Name</p>
    <p><span> @Html.DisplayNameFor(model => model.BirthDate): </span>@Model.BirthDate.ToString("yyyy-MM-dd") (@horseAge
        år)</p>
    <p><span>@Html.DisplayNameFor(model => model.Gender): </span>@Model.Gender</p>
    <p><span>@Html.DisplayNameFor(model => model.Breed): </span>@(Model.Breed != null ? Model.Breed : "-")</p>
    <p><span>@Html.DisplayNameFor(model => model.Height): </span>@(Model.Height != null ? Model.Height + " cm" : "Ej angivet")
    </p>
    <p><span>@Html.DisplayNameFor(model => model.AdType): </span>@Model.AdType</p>
    <p><span>@Html.DisplayNameFor(model => model.Discipline): </span>@(Model.Discipline != null ? Model.Discipline :
        "-")
    </p>
    <div class="pedigree">
        <p><span>@Html.DisplayNameFor(model => model.Dam) </span>@(Model.Dam != null ? Model.Dam : "Okänd")</p>
        <p><span>@Html.DisplayNameFor(model => model.Sire) </span>@(Model.Sire != null ? Model.Sire : "Okänd")</p>
        <p><span>@Html.DisplayNameFor(model => model.DamSire) </span>@(Model.DamSire != null ? Model.DamSire : "Okänd")
        </p>
        <p><span>@Html.DisplayNameFor(model => model.GrandSire) </span>@(Model.GrandSire != null ? Model.GrandSire :
                        "Okänd")</ p >
    </div>
    <section>
        <h3>@Html.DisplayNameFor(model => model.Content)</h3>
        <p>@Model.Content</p>
    </section>
    <p class="price"><span>@Model.Price</span></p>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Radera" />
        <a asp-action="Index" class="back-link link">Tillbaka till annonser</a>
    </form>
</div>
