@model List<HorseModel>

@{
    ViewData["Title"] = "Startsidan";
}

<div class="hero-img">
    <img src="/images/horses/website-images/nice.jpg" alt="Sidovy av en kvinna med en häst framför stallöppningen">
</div>

<div class="content">
    <h1>EquiMarket</h1>
    <p>Du kanske är på jakt efter ett nyförvärv att plocka rosetter med, eller den perfekta skogsmullen att bära dig
        över stock och sten, eller varför inte det optimala nya hemmet för din fyrbenta vän? </p>

    <p>EquiMarket kan vara sista steget till att uppfylla det du har drömt om. Här hittar du annonser för hästar i alla
        färger och format, för att hjälpa just dig hitta helt rätt.</p>
    <p>Här kan du annonsera helt gratis, oavsett om du vill sälja din häst eller om du söker efter din nästa springare
        med ljus och lykta.</p>
    @if (Model != null && Model!.Count > 0)
    {
        <h2>I blickfånget</h2>
        <div class="frontpage-horses">

            @foreach (var horse in Model)
            {
                var horseAge = DateTime.Now.Year - horse.BirthDate.Year;
                <div class="fp-horse-card card">
                    <a asp-action="Details" asp-controller="Horse" asp-route-id="@horse.Id">
                        <p class="ad-title">@horse.Title</p>
                        <div class="ad-flex">
                            <p class="ad-type">@horse.AdType</p>
                            <p class="ad-breed">@(horse.Breed != null ? horse.Breed : "")</p>
                            <p class="ad-age">@horseAge år</p>
                        </div>
                        @if (horse.ImagePath != null)
                        {
                            <img src="@horse.ImagePath" alt="@horse.Title" />
                        }
                        else
                        {
                            <img src="images/horses/website-images/outline.svg" alt="Hästbild" class="default-img" />
                        }
                        <p class="ad-price">@horse.Price kr</p>
                        <p class="back-link">Läs mer</p>
                    </a>
                </div>
            }
        </div>
        <a asp-action="Index" asp-controller="Horse" class="btn-link fp-link">Se fler annonser</a>
    }

</div>
